.body {
    background-image: url(../images/background_gallery.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ХЭДЕР НАЧАЛО */

.header {
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 3em 6em;

    /* ДЛЯ СТРАНИЧЕК МЕНЮ */
    border-radius: 0 0 79px 79px;
    box-shadow: 0 -8px 52px 0 rgba(238, 238, 238, 0.17);
    background: rgb(30, 12, 6);
}

.logo {
    width: 197px;
    height: 83.8px;
}

.menu {
    display: flex;
}

.menu__item {
    list-style-type: none;
    padding-left: 2.3em;
}

.menu-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;
    color: #fff;
}

/* ДЛЯ СТРАНИЧЕК МЕНЮ (АКТИВНАЯ ССЫЛКА)*/

.link_active {
    color: rgb(163, 184, 215);
}

/* ХЭДЕР КОНЕЦ */

/* ABOUT US - начало */
.section_about {
    position: relative;
    margin-top: 10%;
    margin-right: 10%;
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 70px;
    padding-bottom: 30px;
    background-color: rgb(30, 12, 6, 0.7);
    border-radius: 0px 42px 42px 0px;
    box-shadow: 0px 4px 52px 0px rgba(245, 245, 245, 0.17);
}

.group {
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.group__text {
    margin-right: 3%;
    margin-bottom: 20px;
    max-width: 520px;
}

.title_about {
    margin-top: 0;
    margin-bottom: 100px;
}

.section_about__img2 {
    display: block;
    margin-left: auto;
    margin-right: 32px;
}

/* ABOUT US - конец */

/* OUR WORK - начало */
.title_work {
    margin-left: 20%;
}

.carousel {
    margin: 10%;
}

.slide {
    background: none;
}

.carousel-indicators {
    bottom: -70px;
}

.carousel .carousel-indicators button {
    background: transparent;
    border: 4px solid rgb(114, 139, 173);
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 26px;
    height: 26px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-clip: content-box;
    border-radius: 50%;
}

.carousel-control-prev {
    margin-left: -150px;
}

.carousel-control-next {
    margin-right: -150px;
}

/* OUR WORK - конец */

/* ANY QUESTIONS? - начало */
.section_questions {
    padding-right: 10%;
}

.title_questions {
    text-align: right;
}

.form-container {
    display: flex;
    padding-left: 10%;
    justify-content: space-between;
}

.form {
    margin-right: 64px;
}

.input {
    width: 598px;
    height: 77px;
    margin-bottom: 23px;
    padding: 18px;
    box-sizing: border-box;
    border: 4px solid rgb(114, 139, 173);
    border-radius: 42px;
    background: transparent;
    color: white;
}

.input::placeholder {
    font-family: Inter;
    font-size: 30px;
    line-height: 139.4%;
    text-align: left;
    align-items: top;
    color: rgba(217, 217, 217, 0.51);
}

.input_question {
    height: 257px;
}

.form-container__text {
    width: 546px;
    text-align: right;
}

.section_questions__img-container {
    position: relative;
}

.section_questions__img-container__img {
    position: absolute;
    z-index: -1;
    /* Остальные параметры разные на каждой странице */
    width: 477.31px;
    height: 482.47px;
    left: 870px;
    right: 180px;
    top: -180px;
    bottom: 0;
}

/* ANY QUESTIONS? - конец */

/* ФУТЕР НАЧАЛО */

.footer {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: start;
    box-shadow: 0px -6px 52px 0px rgba(245, 245, 245, 0.17);
    background: rgb(34, 32, 33);
    padding: 5em 10em 4em 6em;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container__address {
    display: flex;
    align-items: center;
    padding-left: 5em;
    padding-bottom: 2em;
}

.geo {
    width: 25em;
}

.privacy {
    padding-top: 3em;
}

.text-dec {
    font-family: 'Inter', sans-serif;
    font-size: 1.8em;
    font-weight: 500;
    line-height: 139.4%;
    text-decoration: none;
    color: #fff;
}

.privacy-link {
    font-size: 1.25em;
}

/* ФУТЕР КОНЕЦ */


@media screen and (max-width: 1280px) {

    /* ABOUT US - начало */
    .section_about {
        max-width: 80vw;
    }

    .section_about__img1 {
        width: 350px;
    }
    .section_about__img2 {
        width: 170px;
    }
    /* ABOUT US - конец */

}


@media screen and (max-width: 1024px) {



    /* THE WOOD WE WORK WITH - начало */
    .proscons__point {
        margin-left: -10%;
    }

    /* THE WOOD WE WORK WITH - конец */

    /* OUR WORK - начало */
    .title_work {
        padding-left: 10%;
        margin: 0;
    }

    .carousel {
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
        margin-bottom: 15%;
    }

    .carousel-indicators [data-bs-target] {
        width: 16px;
        height: 16px;
    }

    .carousel-control__arrow {
        width: 26px;
        height: 26px;
    }

    .carousel-control-prev {
        margin-left: -15%;
    }

    .carousel-control-next {
        margin-right: -15%;
    }

    /* OUR WORK - конец */


    /* ANY QUESTIONS? - начало */
    .input {
        width: 324px;
        height: 41px;
    }

    .input_question {
        height: 134px;
    }

    .input::placeholder {
        font-size: 20px;
    }

    .section_questions__img-container__img {
        display: none;
    }

    /* ANY QUESTIONS? - конец */
}

@media screen and (max-width: 768px) {

    /* ОБЩИЕ - начало */
    .title {
        font-size: 30px;
        text-align: left;
    }

    .text {
        font-size: 15px;
        line-height: 120%;
        text-align: left;
    }

    .text_bold {
        font-size: 15px;
        line-height: 120%;
    }

    .img_small {
        width: 111px;
        height: 111px;
    }

    .button {
        height: 33px;
        padding: 7px 21px;
    }

    .button_small {
        width: 86px;
    }

    .button_large {
        width: 195px;
    }

    .section {
        margin-bottom: 80px;
    }

    /* ОБЩИЕ - конец */

    /* THE WOOD WE WORK WITH - начало */
    .title_wood {
        margin-bottom: 5%;
    }

    .section_wood__woods .text_bold {
        margin: 20px 0;
        padding-left: 30px;
    }

    .proscons__point .text {
        line-height: 100%;
        margin: 0;
    }

    .bullet {
        margin-right: 10px;
        width: 13px;
        height: 12px;
    }

    .section_wood__woods {
        gap: 5%;
        padding-left: 132px;
    }

    /* THE WOOD WE WORK WITH - конец */

    /* ABOUT US - начало */
    .section_about {
        margin-right: 20%;
        padding-left: 10%;
    }

    .title_about {
        margin-bottom: 38px;
    }

    .group__text {
        max-width: 80%;
    }

    .section_about__img1 {
        width: 269px;
    }

    .section_about__img2 {
        width: 130px;
    }

    /* ABOUT US - конец */

    /* ANY QUESTIONS? - начало */
    .form-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .input::placeholder {
        font-size: 13px;
    }

    .form-container__text {
        margin-bottom: 46px;
        width: 272px;
        line-height: 120%;
        text-align: left;
    }

    .title_questions {
        padding-left: 10%;
        text-align: left;
    }

    /* ANY QUESTIONS? - конец */

}