*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-image: url(../images/background_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* ГЛАВНЫЙ КОНТЕЙНЕР */
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10% auto;
}

/* СЕКЦИЯ С ТЕКСТОМ */

.contact__section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.address{
    display: flex;
    align-items: center;
    padding: 5% 0;
}
.address-icon{
    padding-right: 5%;
    width: 50px;
}
.title-contact{
    padding-bottom: 4%;
    margin-top: 0;
}
.address-geo{
    width: 370px;
}

/* СЕКЦИЯ С КАРТОЙ */

.contact__card{
    margin-top: 28px;
}
.card{
    border: 0;
    border-radius: 25px;
    width: 500px;
    height: 420px;
}

/* ДОП. СЕКЦИЯ ANY QUESTIONS? */

.section_questions{
    display: none;
}

@media screen and (max-width: 768px){

    /* ANY QUESTIONS? - начало */

    .section_questions{
        display: block;
        padding-right: 10%;
    }

    .section_questions__img-container__img {
        display: none;
    }
    .form {
        margin-right: 5%;
    }

    .input {
        width: clamp(280px, 70vw, 580px);
        height: clamp(40px, 7.5vmax, 77px);
        margin-bottom: 23px;
        padding: 18px;
        box-sizing: border-box;
        border: 4px solid rgb(114, 139, 173);
        border-radius: 42px;
        background: transparent;
        color: white;
    }

    .input::placeholder {
        font-family: 'Inter', sans-serif;
        font-size: clamp(15px, 3vw, 30px);
        line-height: clamp(18px, 3.5vw, 36px);
        text-align: left;
        align-items: top;
        color: rgba(217, 217, 217, 0.51);
    }

    .input_question {
        height: clamp(134px, 25vmax, 257px);
    }

    .form-container__text {
        max-width: clamp(272px, 53vw, 546px);
        margin-bottom: 46px;
        line-height: 120%;
        text-align: left;
    }
    .form-container {
        display: flex;
        flex-direction: column-reverse;
        padding-left: 10%;
    }
    
    .title_questions {
        padding-left: 10%;
        text-align: left;
    }
    /* ANY QUESTIONS? - конец */

    .address-icon{
        width: 39px;
    }
    .card{
        width: 90vw;
        height: 320px;  
    }
    .contact__section{
        width: 80vw;
    }
}

@media screen and (max-width:460px){
    .card{
        height: 310px;  
    }
    .address-geo{
        width: 250px;
    }
}

   