*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-image: url(../images/background_contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10%;
}
.contact__section{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: start;
}
.title-contact{
    padding-bottom: 6%;
    margin-top: 0;
}
.address{
    display: flex;
    align-items: center;
    padding: 6% 0;
    width: 50%;
}
.address-icon{
    padding-right: 5%;
    height: 5vh;
}
.text-decor{
    font-family: 'Inter', sans-serif;
    font-size: 4vh;
    font-weight: 500;
    line-height: 139.4%;
    text-decoration: none;
    color: #fff;   
}
.contact__card{
    margin-top: 2%;
    flex-grow: 1;
}
.card{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10%;
   
}

@media screen and(max-width:375){

    .contact{
        margin-top: 6%;
    }
    .contact__card{
        width: 100vw;
    }
}

   