*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-image: url(../images/background_home.png), url(../images/background_logs.png);
    background-repeat: no-repeat;
    background-size: 35%, 65%;
    /* min-height: 100vh; */
} 
  .error{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .error-title{
    text-transform: none;
    font-weight: 500;
    line-height: 107.9%;
  }
  .error-text{
    font-weight: 400;
    color: rgb(255, 219, 187);
    padding-top: 16px;
  }
  .button_margin{
    margin: 32px 0;
    text-decoration: none;
  }
  @media screen and(max-width:768) {
    .error{
      width: 100vw;
    }
  }