*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background: url(../images/background_logs.png) top left / 65% auto no-repeat, url(../images/background_404.png) center/ cover no-repeat;
    background-color: rgba(34, 32, 33);
} 
  .header{
    border-radius: none;
    box-shadow: none;
    background: none;
}
  .error{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5%;
  }

  .error-img{
    max-width: 100%;
    object-fit: cover;
  }

  .error-title{
    text-transform: none;
    font-weight: 500;
    line-height: 107.9%;
  }

  .error-text{
    font-weight: 400;
    color: rgb(255, 219, 187);
    padding-top: 2%;
  }

  .button_flex{
    display: flex;
    align-items: center;
    margin: 2%;
    padding: 3%;
    text-decoration: none;
  }

  @media screen and (max-width:1024px) {

    .body {
      background: url(../images/background_logs.png) left 350% top / 110% no-repeat, url(../images/background_404.png) center/ cover no-repeat;
      background-color:  #222021;
    }

    .button_margin{
      margin: 10%;
    } 
    .error-text{
      padding-top: 5%;
    }
  }
