*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt_wght.ttf);
}


/* ФОН ГЛАВНОЙ СТРАНИЦЫ */
/* 
body{
    background-image: url(../images/background_home.png), url(../images/background_logs.png);
    background-repeat: no-repeat;
    background-color:rgba(34, 32, 33);
} */

/* ХЭДЕР НАЧАЛО */

.header{
    width: 100vw;

    /* ДЛЯ СТРАНИЧЕК МЕНЮ */
    border-radius: 0 0 79px 79px;
    box-shadow: 0 -8px 52px 0 rgba(238, 238, 238, 0.17);
    background-color: rgb(30, 12, 6);
    background-size: cover;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 108px;
}
.logo{
    width: 197px;
    height: 83.8px;
}
.menu{
    display: flex;
}
.menu__item{
    list-style-type: none;
    padding-left: 37px;
}
.menu-link{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: #fff;
  }

  /* ДЛЯ СТРАНИЧЕК МЕНЮ (АКТИВНАЯ ССЫЛКА)*/

  .link_active{
  color: rgb(163, 184, 215);
  }

  /* ХЭДЕР КОНЕЦ */

  @media screen and (max-width: 767px){
    .menu-link{
        font-size: 16px;
    }
    .header__container{
        flex-direction: column;
        justify-content: center;
    }
    .menu{
        flex-direction: column;
        align-items: end;
    }
    .menu__item{
        padding-left: 0;
    }
      }

  /* ФУТЕР НАЧАЛО */

.footer{
    width: 100vw;
    box-shadow: 0px -6px 52px 0px rgba(245, 245, 245, 0.17);
    background: rgb(34, 32, 33);
    padding: 80px 220px 64px 108px;
}
.footer__container-address_media{
    display: none;
}
.footer__container{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}
.footer__container-address{
    display: flex;
    align-items: center;
}
.geo{
    width: 27vw;
}
.icon{
    padding-right: 10px;
}
.text-dec{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 139.4%;
    text-decoration: none;
    color: #fff;   
}
.privacy-link{
    font-size: 20px;
}
/* ФУТЕР КОНЕЦ */

@media screen and (max-width: 767px){
    .footer{
        padding: 5% 10%;
    }
    .footer__container{
        flex-direction: column;
    }
     .logo{
        margin: 10%;
        width: 162px;
        height: 69px;
     }
    .geo{
        display: none;
    }
    .footer__container-address_media{
        display: flex;
        align-items: center;
        align-self: flex-start;
        padding-left: 70px;
    }
    .phone{
        order: 1;
        align-self: flex-start;
        padding-left: 70px;
    }
    .footer__container-address{
        padding-top: 3%;
    }
    .icon{
        width: 30px;
    }
    .text-dec{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
    .privacy{
        margin: 0 auto;
        text-align: center;
    }
    .privacy-link{
        font-size: 11px;
    }
      }