*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'KyivType';
    src: url(../fonts/KyivTypeSansMedium.otf);
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt_wght.ttf);
}

.body {
    background-color: #222021;
    max-width: 1440px;
    
}

.main {
    width: 100vw;
}

.title {
    font-family: 'KyivType', sans-serif;
    font-size: clamp(30px, 8.7vw, 90px);
    line-height: 1.4;
    text-transform: uppercase;
    color: white;
}

.text {
    font-family: 'Inter', sans-serif;
    font-size: clamp(15px, 3vw, 30px);
    line-height: 1.4;
    color: white;
}

.text_bold {
    font-family: 'Inter', sans-serif;
    font-size: clamp(15px, 3vw, 30px);
    font-weight: 700;
    line-height: 1.4;
    color: white;
}

.button {
    max-height: clamp(33px, 5.6vw, 58px);
    padding: clamp(7.5px, 1vmax, 11px) clamp(21px, 6vw, 70px);
    border: none;
    border-radius: 42px;
    background: rgb(114, 139, 173);
    text-align: center;
    line-height: 1;
    cursor: pointer;
}

.button_small {
    max-width: clamp(92px, 21vw, 216px);
}

.button_large {
    max-width: clamp(195px, 43vw, 444px);
}

.img_small {
    max-width: clamp(90px, 20vw, 205px);
}

.section {
    margin-bottom: 20%;
}